In [1]:
import pandas as pd
import numpy as np

In [2]:
purchase_data_df = pd.read_json("purchase_data.json")
purchase_data_df = purchase_data_df.rename(columns={'Item ID': 'Item_ID', 'Item Name': 'Item_Name'})

In [3]:
#Player Count
number_of_players = purchase_data_df.SN.nunique()

In [4]:
total_players = {"Total Players": [number_of_players]}
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            573

In [5]:
# Purchasing Analysis (Total)

In [6]:
unique_items = purchase_data_df["Item_Name"].nunique()

In [7]:
average_purchase_price = purchase_data_df.Price.mean()

In [8]:
number_of_purchases = purchase_data_df.Age.count()

In [9]:
total_revenue = purchase_data_df['Price'].sum()

In [10]:
purchasing_analysis = {
    "Number of Unique Items": [unique_items], 
    "Average Purchase Price": [average_purchase_price], 
    "Total Number of Purchases": [number_of_purchases],
    "Total Revenue": [total_revenue]
        }
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)


purchasing_analysis_df['Average Purchase Price'] = purchasing_analysis_df['Average Purchase Price'].map('${0:,.2f}'.format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map('${0:,.2f}'.format)
purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,$2.93,179,780,"$2,286.33"

In [11]:
# Gender Demographics

In [12]:
number_of_males = purchase_data_df.groupby(["Gender", "SN"]).SN.nunique().Male.sum()
number_of_females = purchase_data_df.groupby(["Gender", "SN"]).SN.nunique().Female.sum()
number_of_other_gender = purchase_data_df.groupby(["Gender", "SN"]).SN.nunique()['Other / Non-Disclosed'].sum()

In [13]:
percent_males = number_of_males / number_of_players 
percent_females = number_of_females / number_of_players
percent_other = number_of_other_gender / number_of_players

In [14]:
gender_demographics = {
    "Gender": ["Male", "Female", "Other"],
    "Percentage of Players": [percent_males, percent_females, percent_other],
    "Total Count": [number_of_males, number_of_females, number_of_other_gender],
}
gender_demographics_df = pd.DataFrame(gender_demographics).set_index("Gender")

gender_demographics_df['Percentage of Players'] = gender_demographics_df['Percentage of Players'].map('{:.2%}'.format)
gender_demographics_df

       Percentage of Players  Total Count
Gender
Male                  81.15%          465
Female                17.45%          100
Other                  1.40%            8

In [15]:
# Purchasing Analysis (Gender)

In [16]:
gender_df = purchase_data_df.groupby('Gender')

In [17]:
male_purchase_count = gender_df.count().Age.Male
female_purchase_count = gender_df.count().Age.Female
other_purchase_count = gender_df.count().Age["Other / Non-Disclosed"]

In [18]:
f_avg_purchase_price = gender_df.mean().Price.Female
m_avg_purchase_price = gender_df.mean().Price.Male
o_avg_purchase_price = gender_df.mean().Price["Other / Non-Disclosed"]

In [19]:
f_total_purchase_value = gender_df.sum().Price.Female
m_total_purchase_value = gender_df.sum().Price.Male
o_total_purchase_value = gender_df.sum().Price["Other / Non-Disclosed"]

In [20]:
purchasing_analysis = {
    "Gender": ["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": [female_purchase_count, male_purchase_count, other_purchase_count],
    "Average Purchase Price": [f_avg_purchase_price, m_avg_purchase_price, o_avg_purchase_price],
    "Total Purchase Value": [f_total_purchase_value, m_total_purchase_value, o_total_purchase_value], 
    #"Normalized Totals": [(purchase_data_df[purchase_data_df.Gender == "Male"].groupby("SN").Age.count().mean() - f_average_purchase_price) / purchase_data_df.Price.std()]
    # normalized totals (  -  ) / purchase_data_df.Price.std() )
}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis).set_index("Gender")

purchasing_analysis_df['Average Purchase Price'] = purchasing_analysis_df['Average Purchase Price'].map('${0:,.2f}'.format)
purchasing_analysis_df['Total Purchase Value'] = purchasing_analysis_df['Total Purchase Value'].map('${0:,.2f}'.format)
purchasing_analysis_df

,Average Purchase Price,Purchase Count,Total Purchase Value
Gender,,,
Female,$2.82,136,$382.91
Male,$2.95,633,"$1,867.68"
Other / Non-Disclosed,$3.25,11,$35.74

In [21]:
# Age Demographics

In [22]:
np.arange(10,100,4)
age_bins = [0, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 100]

In [23]:
purchase_data_df['Age_Group'] = pd.cut(purchase_data_df['Age'], age_bins)

In [24]:
age_groups = purchase_data_df.groupby('Age_Group')

In [25]:
age_bins_list = age_groups.count().Age.index.tolist()
by_age_purchase_count = age_groups.count().Age.tolist()
by_age_average_purchase_price = age_groups.mean().Price.tolist()
by_age_total_purchase_value = age_groups.sum().Price.tolist()

In [26]:
age_demographics = [('Age Groups', age_bins_list),
                    ('Purchase Count', by_age_purchase_count),
                    ('Average Purchase Price', by_age_average_purchase_price),
                    ('Total Purchase Value', by_age_total_purchase_value),
                   # ('Normalized Totals', np.arange(0,11, 1))
                          ]
age_demographics_df = pd.DataFrame.from_items(age_demographics).set_index('Age Groups')

age_demographics_df['Average Purchase Price'] = age_demographics_df['Average Purchase Price'].map('${0:,.2f}'.format)
age_demographics_df['Total Purchase Value'] = age_demographics_df['Total Purchase Value'].map('${0:,.2f}'.format)
age_demographics_df

            Purchase Count Average Purchase Price Total Purchase Value
Age Groups
(0, 10]                 32                  $3.02               $96.62
(10, 14]                31                  $2.70               $83.79
(14, 18]               111                  $2.88              $319.32
(18, 22]               231                  $2.93              $676.20
(22, 26]               207                  $2.94              $608.02
(26, 30]                63                  $2.98              $187.99
(30, 34]                46                  $3.07              $141.24
(34, 38]                37                  $2.81              $104.06
(38, 42]                20                  $3.13               $62.56
(42, 46]                 2                  $3.26                $6.53
(46, 100]                0                   $nan                $0.00

In [27]:
# Top Spenders

In [28]:
sn_groups = purchase_data_df.groupby('SN')

In [29]:
top_5_total_purchase_value = sn_groups.sum().Price.nlargest(n=5)
top_5_total_purchase_value

SN
Undirrala66    17.06
Saedue76       13.56
Mindimnya67    12.74
Haellysu29     12.73
Eoda93         11.58
Name: Price, dtype: float64

In [30]:
top_5_total_purchase_value_list = top_5_total_purchase_value.index.tolist()
top_5_total_purchase_value_list

['Undirrala66', 'Saedue76', 'Mindimnya67', 'Haellysu29', 'Eoda93']

In [31]:
top_5_total_purchase_value_df = purchase_data_df[purchase_data_df.SN.isin(top_5_total_purchase_value_list)].groupby("SN")

In [32]:
top_5_purchase_count = top_5_total_purchase_value_df.Price.count()
top_5_avg_price = top_5_total_purchase_value_df.Price.mean()
top_5_purchase_value = top_5_total_purchase_value_df.Price.sum()
top_5_purchase_value

SN
Eoda93         11.58
Haellysu29     12.73
Mindimnya67    12.74
Saedue76       13.56
Undirrala66    17.06
Name: Price, dtype: float64

In [33]:
# Top 5 Spenders Table

top_spenders_table = [('SN', top_5_total_purchase_value_list),
                    ('Purchase Count', top_5_purchase_count),
                    ('Average Purchase Price', top_5_avg_price),
                    ('Total Purchase Value', top_5_purchase_value),]
top_spenders_df = pd.DataFrame.from_items(top_spenders_table).sort_values("Total Purchase Value", ascending=False).set_index('SN')
top_spenders_df

top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map('${0:,.2f}'.format)
top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map('${0:,.2f}'.format)
top_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Eoda93                    5                  $3.41               $17.06
Haellysu29                4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Saedue76                  3                  $4.24               $12.73
Undirrala66               3                  $3.86               $11.58

In [34]:
# Most Popular Items

In [35]:
item_name_groups = purchase_data_df.groupby("Item_Name")
item_name_list = item_name_groups.Item_Name.count().nlargest(n=5).index.tolist()
item_name_list

['Final Critic',
 'Arcane Gem',
 'Betrayal, Whisper of Grieving Widows',
 'Stormcaller',
 'Retribution Axe']

In [36]:
# Data frame with only the most popular items
popular_items_df = purchase_data_df[purchase_data_df.Item_Name.isin(item_name_list)]

In [37]:
#purchase count
pop_items_purchase_count_list = popular_items_df.Item_Name.value_counts()
pop_items_purchase_count_list.tolist()

[14, 11, 11, 10, 9]

In [38]:
#Item IDs
item_id_list = []

for item_name in item_name_list:
    item_something = purchase_data_df['Item_ID'].loc[purchase_data_df['Item_Name'] == item_name]
    temp_id_list = item_something.tolist()
    item_id_list.append(temp_id_list[0])
item_id_list

[92, 84, 39, 30, 34]

In [39]:
#Item Price
item_price_list = []
for item_name in item_name_list:
    item_something = purchase_data_df['Price'].loc[purchase_data_df['Item_Name'] == item_name]
    temp_id_list = item_something.tolist()
    item_price_list.append(temp_id_list[0])
item_price_list

[1.3599999999999999, 2.23, 2.35, 4.15, 4.14]

In [40]:
# total purchase value
item_purchase_value_list = []
for item_name in item_name_list:
    item_purchase_value_list.append(popular_items_df.groupby("Item_Name").Price.sum()[item_name])
item_purchase_value_list

[38.599999999999994, 24.53, 25.850000000000005, 34.65, 37.26]

In [41]:
# Most Popular Items Table

top_popular_items_table = [('Item ID', item_id_list),
                    ('Item Name', item_name_list),
                    ('Purchase Count', pop_items_purchase_count_list.tolist()),
                    ('Item Price', item_price_list),
                    ('Total Purchase Value', item_purchase_value_list)]
top_5_items_df = pd.DataFrame.from_items(top_popular_items_table).sort_values("Purchase Count", ascending=False).set_index("Item ID")

top_5_items_df['Item Price'] = top_5_items_df['Item Price'].map('${0:,.2f}'.format)
top_5_items_df['Total Purchase Value'] = top_5_items_df['Total Purchase Value'].map('${0:,.2f}'.format)
top_5_items_df

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,14,$1.36,$38.60
84,Arcane Gem,11,$2.23,$24.53
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
30,Stormcaller,10,$4.15,$34.65
34,Retribution Axe,9,$4.14,$37.26

In [42]:
# Most Profitable Items

In [43]:
# 5 most profitable items
most_profitable_items_list = purchase_data_df.groupby("Item_Name").sum().Price.nlargest(n=5).index.tolist()
most_profitable_items_list

['Final Critic',
 'Retribution Axe',
 'Stormcaller',
 'Spectral Diamond Doomblade',
 'Orenmir']

In [44]:
# Item ID
prof_item_id_list = []

for item_name in most_profitable_items_list:
    item_something = purchase_data_df['Item_ID'].loc[purchase_data_df['Item_Name'] == item_name]
    temp_id_list = item_something.tolist()
    prof_item_id_list.append(temp_id_list[0])
prof_item_id_list

[92, 34, 30, 115, 32]

In [45]:
# Create Profitable Items Data Frame
profitable_items_df = purchase_data_df[purchase_data_df.Item_Name.isin(most_profitable_items_list)]

In [46]:
#purchase count
prof_items_purchase_count_list = []
for item_name in most_profitable_items_list:
    prof_items_purchase_count_list.append(profitable_items_df.Item_Name.value_counts()[item_name])
prof_items_purchase_count_list

[14, 9, 10, 7, 6]

In [47]:
#item price
prof_item_price_list = []

for item_name in most_profitable_items_list:
    item_something = profitable_items_df['Price'].loc[profitable_items_df['Item_Name'] == item_name]
    temp_price_list = item_something.tolist()
    prof_item_price_list.append(temp_price_list[0])
prof_item_price_list

[1.3599999999999999, 4.14, 4.15, 4.25, 4.95]

In [48]:
#total purchase value

prof_item_purchase_value_list = []
for item_name in most_profitable_items_list:
    prof_item_purchase_value_list.append(profitable_items_df.groupby("Item_Name").Price.sum()[item_name])
prof_item_purchase_value_list

[38.599999999999994, 37.26, 34.65, 29.75, 29.7]

In [49]:
# Most Profitable Items Table and Data Frame
top_popular_items_table = [('Item ID', prof_item_id_list),
                    ('Item Name', most_profitable_items_list),
                    ('Purchase Count', pop_items_purchase_count_list.tolist()),
                    ('Item Price', prof_item_price_list),
                    ('Total Purchase Value', prof_item_purchase_value_list)]
top_5_prof_items_df = pd.DataFrame.from_items(top_popular_items_table).sort_values("Total Purchase Value", ascending=False).set_index("Item ID")


#top_5_prof_items_df["Item Price"] = 
top_5_prof_items_df['Item Price'] = top_5_prof_items_df['Item Price'].map('${0:,.2f}'.format)
top_5_prof_items_df['Total Purchase Value'] = top_5_prof_items_df['Total Purchase Value'].map('${0:,.2f}'.format)
top_5_prof_items_df

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,14,$1.36,$38.60
34,Retribution Axe,11,$4.14,$37.26
30,Stormcaller,11,$4.15,$34.65
115,Spectral Diamond Doomblade,10,$4.25,$29.75
32,Orenmir,9,$4.95,$29.70

In [50]:
# Observable Trends
# Males make up the vast majority of purchasers at over 80%.
# The biggest spending is between the ages of 18 and 26. 
# Even the most popular item only has a purchase count of 14 out of 573 players which means that people are interested in a variety of items.